body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.emsgb{

 color: red;


}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #F6E3C5;
    gap: 10px;
}

.emsgb{
    border: solid 3px black;
    height: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:15px;
}

#order{
    padding: 1%;
    margin:0;
}

.D_button{
    margin-left: 50px;
    margin-right: 50px;

}

.don_3{

    display: flex;
    flex-direction: row;
    gap: 10px;

}

.don_1{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}

.don_12{

    display: flex;
    flex-direction: row;
    
    justify-content: center;
}

.donBtn{

    padding: 10px;

}

.don_0{
    text-align: center;
    background-color:antiquewhite;
}

.don_00{

    display: flex;
    flex-direction:row;
    background-color:antiquewhite;
}